.displayBox {
    height: 275px;
    width: auto;
}

button {
    margin: 2px;
    cursor: pointer;
}

h3 {
    text-align: center;
    color: rgb(23, 23, 126);
}

.active {
    background: rgb(177, 250, 177);
}

.nearMaxMass {
    color: red;
    font-style: italic;
    font-weight: bold;
}
